@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
  }

body {
  width: 100%;
  height: 100vh;
  background-color: #c7c4c4;
}

header {
  background-color: #222;
}

ul {
  list-style-type: none;
  line-height: 25px;
}

 .top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
 }
 .top__pizza img {
  display: flex;
  flex-direction: row;
  justify-content: ;
  align-items: center;
  margin-left: 15px;
  
 }
 .top__text {
   color: #F3F3F3;
   display: flex;
   justify-content: space-around; 
   align-items: center;
   font-size: 16px; 
   gap: 40px;
   margin-right: 30px;
   
 }
 #menu {
   gap: 20px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-self: stretch
 }

 .mid { 
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   gap: 10px;
   padding: 30px;
 }
 /*.mid__propaganda img {
  display: flex;
  position: relative;
  width: 490px;
  height: 350px;
  }**/

  /**#mid__propagandaText {
    justify-content: flex-start;
  **/
  
  .mid__propaganda {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 491px;
    height: 350px;
    padding: 5px;
    background-image: url(/Img/delivery.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: red;
  }
  span {
    color: #ffffff;
  }
  .mid__titulo {
    background-color: #F3F3F3;
    width: 491px;
    height: 350px;
    list-style-position: inside;
    border-radius: 10px;
    
  }
  #cardapio {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FC200C;
  }
  .mid__opcoes {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 146px;
    height: 178px;
    line-height: 35px;
    margin-left: 25px;
    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    
    color: #222222;
  }
  
  .mid__img {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    bottom: 150px;
    margin-right: 85px;
    
  }
  #mid__pizzas {
   width: 110.44px;
   align-items: center;
   margin-left: 25px;   

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    color: #222222; 
   
  }
  
 .bottom {
  flex-direction: row;
  width: 100%; 
  background: #222222;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
 } 
 .bottom__conteiner {
   display: flex;
  height: 150px;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: 42px;
      
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F3F3F3;

}

