@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.menutop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background: #222222;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    
}
.menuTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #F0A83E;
    height: 62px;
}
.menuTwo img {
    margin-left: 30px;
    width: 166.38px;
    height: 23px;
}

.menuMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
}
.menuMain img {
    width: 15px;
    height: 14px;
}

.wellcomeprop {
    width: 100%;
    height: 409px;
}

.prompTwo {
    background-image:  url(/Img/bowl-and-pet-daities-on-green-background\ 1.png);
    display: flex;
    
}
.wellcomeprop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 20px;
} 

.wellcomeprop__left {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

#wellcomeprop__wllcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 15px;
    width: 365px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}

#wellcomeprop__button {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    
    width: 141px;
    height: 49px;
    background: #F0A83E;
    color: #FFFFFF;
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;   
}

.MainProm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 25px;
    margin-bottom: 49px;
   
}
#MainProm__A {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
 
    color: #3C2313;
}
#MainProm__B {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 267px;
    list-style: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
 
    color: #666666;
}

.showProducts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    
}
#contact__top {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 15px;
    margin-top: 50px;
    color: #3C2313;
}
.contact__areas {
    
}
input[type=text],[type=email], [type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    width: 340px;
    height: 40px;
    left: calc(50% - 340px/2 + 1px);
    top: calc(50% - 40px/2 + 275.5px);

    background: #3C2313;
    border-radius: 15px;
}

.inscricoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;

    height: 60px;

    background: #F0A83E;
}
.inscricoes_email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.informations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #3C2313;
    padding: 25px;
}

.informations__detail {
    display: flex;
    flex-direction: column;
    justify-content: right;
    flex-wrap: wrap;    
    gap: 10px;
}
.teste {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.informations__detail div{
    display: flex;
    gap: 10px;
}
.links {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}
.informations__sub {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;

    color: #8A8787;
}
.rights {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
    background: #222222;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */


    color: #FFFFFF;

}