body {
    background-image: url(../Img/Dev-Full-Stack-1280x720.png);
    background-color: aquamarine;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.banner {
    width: 200px;
    height: 200px;
    background-color: aqua;
    background-repeat: inherit;
    background-size: cover;
    background-image: url(https://cdn.maioresemelhores.com/imagens/cachorros-pequenos-1.jpg);
}
